@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Display&display=swap');

/** COMMONERS **/

body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(43, 43, 43);
    color: rgb(169, 183, 198);
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

/** HEADERS **/

.header {
    text-align: center;
    user-select: none;
    font-size: 22px;
    font-family: 'Big Shoulders Display', cursive;
}

.nav {
    display: inline-block;
    margin: 0 50px;
    overflow: hidden;
}

.nav-item {
    display: inline-block;
    margin: 50px;
}

.nav-item.active {
    border-bottom: 1px dashed rgb(169, 183, 198);
}

.header-title-container {
    display: inline-block;
}

.header-title {
    font-size: 80px;
    color: rgb(43, 43, 43);
    -webkit-text-stroke: 1px rgb(234, 158, 205);
    text-shadow: 1px 2px 0 rgb(234, 158, 205), 0.75px 1.75px 0 rgb(234, 158, 205),
    0.5px 1.5px 0 rgb(234, 158, 205), 0.25px 1.25px 0 rgb(234, 158, 205),
    0 1px 0 rgb(234, 158, 205), -0.25px 0.75px 0 rgb(234, 158, 205),
    -0.5px 0.5px 0 rgb(234, 158, 205), 0.75px 0 0 rgb(234, 158, 205),
    1px 0.5px 0 rgb(234, 158, 205);
    /*text-shadow: 1px 3px 0 rgb(234, 158, 205);*/
}

.header-subtitle {
    font-family: 'Big Shoulders Display', cursive;
    margin: auto;
}

/** MAIN **/

.main {
    width: 800px;
    margin: auto;
}

.section {
    margin-top: 100px;
}

.section-half-left {
    width: 400px;
    float: left;
}

.section-half-right {
    width: 320px;
    padding: 10px 40px;
    float: right;
}

.section-half-header {
    font-size: 2em;
    margin: 0.67em 0;
    font-weight: bold;
    overflow: hidden;
    vertical-align: top;
}

.section-half-image {
    display: inline-block;
    width: 400px;
}

.section-half-image img {
    width: 400px;
    padding: 0;
    margin: 0;
}