@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Display&display=swap');

/** COMMONERS **/

body {
    background-color: rgb(43, 43, 43);
    color: rgb(169, 183, 198);
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    min-width: 320px;
}

a {
    color: inherit;
    text-decoration: none;
}

.main a {
    color: white;
    text-decoration: none;
}

/** HEADERS **/

.header {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 22px;
    height: 188px;
    margin-bottom: 80px;
    margin-top: 20px;
    text-align: center;
    user-select: none;
}

.nav {
    display: inline-block;
    margin: 75px 30px 0;
    overflow: hidden;
    vertical-align: top;
}

.nav-item {
    color: rgb(169, 183, 198);
    display: inline-block;
    margin: 0 30px;
}

.nav-item.active {
    border-bottom: 1px dashed rgb(169, 183, 198);
    color: white;
}

.header-title-container {
    display: inline-block;
}

.header-title {
    color: rgb(43, 43, 43);
    font-size: 150px;
    margin-bottom: -20px;
    text-shadow: 2px 3px 0 rgb(234, 158, 205);
    -webkit-text-stroke: 2px rgb(234, 158, 205);
    /*text-shadow: 1px 3px 0 rgb(234, 158, 205);*/
}

.header-subtitle {
    font-family: 'Big Shoulders Display', cursive;
    margin: auto;
}

/** MAIN **/

.main {
    height: auto;
    margin: auto auto 100px;
    overflow: hidden;
    width: 768px;
}

.full-screen {
    width: 90%;
}

.full-screen .section-half-left {
    width: 40%;
}

.full-screen .section-half-left img {
    width: 100%;
}

.full-screen .section-half-right {
    width: 53%;
}

.full-screen .section-half-header {
    font-size: 5vw;
}

.section {
    margin-bottom: 50px;
}


.section-half-left {
    float: left;
    width: 400px;
}

.section-half-right {
    float: left;
    padding: 10px 0 10px 48px;
    width: 320px;
}

.section-header {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 4em;
    font-weight: bold;
    margin: 0.67em 0;
    overflow: hidden;
    text-transform: lowercase;
    vertical-align: top;
}

.section-content img {
    width: 750px;
}

.section-half-header {
    font-size: 2em;
    font-weight: bold;
    margin: 0.67em 0;
    overflow: hidden;
    vertical-align: top;
}

/*.section-half-image {*/
/*    display: inline-block;*/
/*    width: 400px;*/
/*}*/

.section-half-image img {
    margin: 0;
    padding: 0;
    width: 400px;
}

/** FOOTER **/

.footer {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    left: 0;
    padding-left: 5px;
    position: fixed;
}

.footer .fa {
    color: rgb(169, 183, 198);
    font-size: 22px;
    padding: 10px;
}

.footer .fa:hover {
    color: white;
}

/** LISTS **/

.list {
    margin: 0;
    padding: 0;
}

.list-item {
    border-top: 1px dashed white;
    list-style-type: none;
    padding-top: 20px;
}

.list-item-subheader {
    background-color: rgb(55, 55, 55);
    display: inline-block;
    margin: 0;
    margin-bottom: -5px;
    margin-right: -4px;
    overflow: hidden;
    padding: 10px 10px 12px;
}

.list-item-header {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 3em;
    padding-bottom: 15px;
}

.list-item-header-icon {
    margin: 0;
    padding-right: 5px;
    position: relative;
    top: 4px;
}

.list-item-content {
    margin-bottom: 20px;
    margin-top: 20px;
}

/** SCREENS **/

@media (max-width: 374px) {
    .header-title-container {
        float: right;
        margin-right: 40px;
    }

    .main {
        width: 320px;
    }

    .section-half-left {
        width: 320px;
    }

    .section-half-right {
        padding: 10px 24px;
        width: 280px;
    }

    .section-half-image {
        width: 320px;
    }

    .section-half-image img {
        width: 320px;
    }

    .nav {
        display: block;
        float: left;
        margin: 10px 0 0 8px;
    }

    .nav-item {
        display: block;
        float: none;
        margin: 10px;
        text-align: left;
    }

    .section-content img {
        width: 320px;
    }

    .section-half-left {
        display: block;
        float: none;
    }

    .section-half-right {
        display: block;
        float: none;
    }

    .full-screen {
        width: 90%;
    }

    .full-screen .section-half-left {
        margin: auto;
        width: 75vw;
    }

    .full-screen .section-half-left img {
        width: 75vw;
    }

    .full-screen .section-half-right {
        width: inherit;
    }

    .full-screen .section-half-header {
        font-size: 5vw;
    }
}

@media (min-width: 375px) and (max-width: 549px) {
    .header-title-container {
        float: right;
        margin-right: 40px;
    }

    .main {
        width: 320px;
    }

    .section-half-left {
        width: 320px;
    }

    .section-half-right {
        padding: 10px 24px;
        width: 280px;
    }

    .section-half-image {
        width: 320px;
    }

    .section-half-image img {
        width: 320px;
    }

    .nav {
        display: block;
        float: left;
        margin: 50px 0 0 8px;
    }

    .nav-item {
        display: block;
        float: none;
        margin: 10px;
    }

    .section-content img {
        width: 320px;
    }

    .section-half-left {
        display: block;
        float: none;
    }

    .section-half-right {
        display: block;
        float: none;
    }

    .full-screen {
        width: 90%;
    }

    .full-screen .section-half-left {
        margin: auto;
        width: 75vw;
    }

    .full-screen .section-half-left img {
        width: 75vw;
    }

    .full-screen .section-half-right {
        width: inherit;
    }

    .full-screen .section-half-header {
        font-size: 5vw;
    }
}

@media (min-width: 550px) and (max-width: 767px) {
    .header-title-container {
        float: right;
        margin-right: 40px;
    }

    .main {
        width: 320px;
    }

    .section-half-left {
        width: 320px;
    }

    .section-half-right {
        padding: 10px 24px;
        width: 280px;
    }

    .section-half-image {
        width: 320px;
    }

    .section-half-image img {
        width: 320px;
    }

    .section-content img {
        width: 320px;
    }

    .nav {
        display: block;
        float: left;
        margin: 50px;
    }

    .nav-item {
        display: block;
        margin: 10px;
    }

    .section-half-left {
        display: block;
        float: none;
    }

    .section-half-right {
        display: block;
        float: none;
    }

    .full-screen {
        width: 90%;
    }

    .full-screen .section-half-left {
        margin: auto;
        width: 75vw;
    }

    .full-screen .section-half-left img {
        width: 75vw;
    }

    .full-screen .section-half-right {
        width: inherit;
    }

    .full-screen .section-half-header {
        font-size: 5vw;
    }
}

@media (min-width: 768px) and (max-width: 949px) {
    .header-title-container {
        float: right;
        margin-right: 40px;
    }

    .nav {
        display: block;
        float: left;
        margin: 50px;
    }

    .nav-item {
        display: block;
        margin: 10px;

    }
}

@media (min-width: 950px) {
    body {
    }
}
